body {
    margin: 1em 2em;
}

div#title {
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    margin: 1em;
}

div#title:before {
    content: "<< "
}

div#title:after {
    content: " >>"
}

h1 {
    counter-increment: chapter;
    counter-reset: section;
    margin-top:2em;
}

h2 {
    counter-increment: section;
    margin-top:1.5em;
}

h1:before {
    content: "Chapter " counter(chapter) " - ";
    display: inline-block;
    margin-right: 1em;
}

h2:before {
    content: "Sect " counter(chapter) "." counter(section) " : ";
}

h3:before {
    content: " => "
}

h4:before {
    content: "[ "
}

h4:after {
    content: " ]"
}

p {
    text-indent: 2em;
    line-height: 1.5em;
    letter-spacing: 2px;
}

h1 {
    text-transform: capitalize;
}

pre {
    background-color: #f8f8ff;
    border: 1px dashed gray;
    padding: 1em;
    -webkit-border-radius: 1em;
}

pre code {
    line-height: 1.5em;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: normal;
}

p code,
h1 code,
h2 code,
h3 code,
h4 code,
h5 code,
h6 code,
* code {
    font-size: larger;
    font-weight: bold;
}

h1, h2, h3 {
    text-shadow: 1px 1px 2px gray;
}

li {
    padding-bottom: 0.3em;
    padding-top: 0.2em;
    line-height: 1.3em;
    letter-spacing: 1px;
}

strong {
    font-weight: bold;
    color: black;
    text-shadow: 1px 0px 0px darkblue;
}

span.psp_logo {
    font-family: "Arial";
}

span.psp_logo em {
    font-style: normal;
}

span.psp_logo em:first-child {
    color: red;
}

span.psp_logo em:last-child {
    color: #2A3FAA;
}

span.footer {
    display: block;
    text-align: center;
}

dl {
    line-height: 1.3em;
}

dl>dt {
    margin-bottom: 0.4em;
    margin-top: 0.6em;
}